@mixin backgroundImage($url, $height) {
    background-image:url($url);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:100%;
    height:$height;
}

@mixin centerInlineElement() {
    display:block;
    margin:0 auto;
}