@media screen and (max-width:1199px) {
    .site-header {
        .main-menu {
            .menu-item {
                margin-left:29px;
            }
        }
    }

    .reservations {
        height:100%;
        padding-top:0;
        padding-bottom:100px;

        .reservationFoodImage {
            text-align:center;
        }

        .reservationForm {
            padding: 60px 0;

            .reserveForm {
                .form-group {
                    flex:0 0 50%;
                }

                .input {
                    width:95%;
                }

                .email, .tableNumber {
                    width:100%;
                }
            }
        }
    }
}

@media screen and (max-width:992px) {
    .ingredients {
        .container {
            justify-content:center;
        }
    }
}

@media screen and (max-width:991px) {
    .site-header {
        display:none;
    }
    
    .mobile-header {
        display:flex;
    }

    .site-footer {
        height:100%;
        padding-bottom:58px;
    }
}

@media screen and (max-width:767px) {
    .promo {
        height:100%; 
        padding-bottom:26px;
        
        .heading {
            font-size:45px;
        }

        .promo-buttons {
            display:flex;
            flex-flow:column wrap;
            align-items:center;

            .bookbtn, .menubtn {
                padding:17px;
                width:200px;
                margin-right:0;
                margin-bottom:26px;
            }
        }
    }

    .about {
        height:100%;
        text-align:center;
    }

    .reviews {
        height:100%;

        .review {
            height:100%;
            padding:0 75px;
            padding-bottom:50px;
        }
    }

    .reservations {
        padding:30px;
        padding-top:0px;
    }
}

@media screen and (max-width:481px) {
    .mobile-header {
        .site-name {
            font-size:26px;
        }

        .mobile-navbar {
            width: 50%;
        }
    }

    .ingredients {
        height:100%;
        padding-top:65px;
        padding-bottom:65px;

        .ingredients-section {
            height:100%;
            padding-bottom:27px;

            .ingredients-text {
                .text {
                    padding:20px;
                }
            }

            .ingredients-images {
                margin-top:28px;
            } 

        }
    }

    .reviews {
        .review {
            padding:0 20px;
            padding-bottom:50px;
            
            .review-description {
                font-size:20px;
            }

            .review-author {
                font-size:13px;
            }

        }
    }

    .reservations {
        .reservationForm {
            .reserveForm {
                .form-group {
                    flex: 0 0 100%;

                    .input {
                        width:100%;
                    }
                }
            }
        }
    }
}
