/* Header */
.fixedHeader {
  background-color: #c9a131;
}

.site-header {
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: all ease-in-out 0.4s;
}
.site-header .site-name {
  color: #ffffff;
  font-family: "Yeseva One", sans-serif;
  font-size: 36.03px;
  margin-top: 46px;
}
.site-header .main-menu .menu-item {
  margin-left: 51px;
}
.site-header .main-menu .menu-item:nth-child(1) {
  margin-left: 0;
}
.site-header .main-menu .menu-item a {
  color: #ffffff;
  font-family: "Gentium Book Basic", sans-serif;
  font-size: 21px;
  font-weight: 700;
  padding-top: 43px;
  transition: all 0.2s ease-out;
}
.site-header .main-menu .menu-item a:hover {
  text-decoration: none;
  border-top: solid #ffffff 3px;
}

.mobile-header {
  background-color: #c9a131;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2;
  height: 68px;
}
.mobile-header .site-name {
  color: #ffffff;
  font-family: "Yeseva One", sans-serif;
  font-size: 36.03px;
  line-height: 68px;
  margin: 0 0;
}
.mobile-header .mobile-header-slider-icon, .mobile-header .mobile-header-close {
  height: 64px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.mobile-header .mobile-navbar {
  background-color: #c9a131;
  position: fixed;
  height: 100%;
  width: 35%;
  top: 68px;
  border-top: solid black 1px;
  text-align: center;
}
.mobile-header .mobile-navbar .main-menu {
  list-style-type: none;
  margin: 0;
  margin: 30px 0;
  padding: 0;
}
.mobile-header .mobile-navbar .main-menu .menu-item {
  padding: 20px;
  transition: all 0.4s ease-in-out;
}
.mobile-header .mobile-navbar .main-menu .menu-item:hover {
  background-color: #ffffff;
}
.mobile-header .mobile-navbar .main-menu .menu-item:hover a {
  color: #c9a131;
}
.mobile-header .mobile-navbar .main-menu .menu-item a {
  color: #ffffff;
  font-family: "Gentium Book Basic", sans-serif;
  font-size: 21px;
  font-weight: 700;
  padding-top: 25px;
  transition: all 0.2s ease-out;
}

/* Site Container */
.site-content {
  z-index: 1;
  position: relative;
}

/* Promo Section */
.promo {
  background-image: url("../images/promo-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  padding-top: 203px;
}
.promo .heading {
  color: #ffffff;
  font-family: "Yeseva One", sans-serif;
  font-size: 90px;
  text-align: center;
  margin-bottom: 34px;
}
.promo .divider {
  display: block;
  margin: 0 auto;
}
.promo .promo-buttons {
  text-align: center;
  margin-top: 51px;
}
.promo .promo-buttons .bookbtn, .promo .promo-buttons .menubtn {
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 17px 50px;
  transition: all 0.4s ease-in-out;
}
.promo .promo-buttons .bookbtn {
  border: solid #1a1708 1px;
  background-color: rgba(29, 24, 16, 0.7);
  margin-right: 26px;
}
.promo .promo-buttons .bookbtn:hover {
  text-decoration: none;
  border: solid #d6d1bc 1px;
}
.promo .promo-buttons .menubtn {
  border: solid #d6d1bc 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
.promo .promo-buttons .menubtn:hover {
  text-decoration: none;
  border: solid #1a1708 1px;
}

/* About Section */
.about {
  background-image: url("../images/white-background-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 710px;
}
.about .heading {
  color: #cc9900;
  font-family: "Yeseva One", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 102px;
  margin-bottom: 15px;
}
.about .about-divider {
  display: block;
  margin: 0 auto;
}
.about .about-text {
  color: #5d5d5d;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin-top: 33px;
  margin-bottom: 50px;
}
.about .about-cook {
  display: block;
  margin: 0 auto;
}
.about .about-dish {
  margin-top: 57px;
}

/* Ingredients Section */
.ingredients {
  background-image: url("../images/ingredients-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 758px;
  padding-top: 100px;
}
.ingredients .container {
  display: flex;
  flex-flow: row-reverse wrap;
}
.ingredients .ingredients-section {
  height: 557px;
  width: 550px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}
.ingredients .ingredients-section .ingredients-text .heading {
  color: #ffffff;
  font-size: 36px;
  font-family: "Yeseva One", sans-serif;
  padding-top: 72px;
}
.ingredients .ingredients-section .ingredients-text .text {
  color: #ffffff;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin-top: 26px;
  padding: 0 86px;
  text-align: justify;
}
.ingredients .ingredients-section .ingredients-images {
  margin-top: 69px;
}
.ingredients .ingredients-section .ingredients-images .ingredient-image {
  margin-right: 27px;
}

/* Menu Section */
.menu {
  background-image: url("../images/white-background-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  padding-top: 82px;
  padding-bottom: 83px;
}
.menu .menu-classification {
  color: #cc9900;
  font-size: 36px;
  font-family: "Yeseva One", sans-serif;
  text-align: center;
}
.menu .menu-divider {
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}
.menu .menu-name-and-price {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.menu .menu-name, .menu .menu-price {
  color: #cc9900;
  font-size: 21px;
  font-family: "Yeseva One", sans-serif;
  margin-top: 25px;
  margin-bottom: 5px;
}
.menu .menu-border {
  background-color: #cccc99;
  height: 1px;
  width: 100%;
}
.menu .menu-description {
  color: #333333;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  margin-top: 10px;
}

/* Reviews */
.reviews {
  background-image: url("../images/reviews-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 758px;
  padding-top: 100px;
  padding-bottom: 101px;
}
.reviews .review {
  background-color: rgba(0, 0, 0, 0.6);
  height: 557px;
  text-align: center;
  padding: 0 150px;
}
.reviews .review .heading {
  color: #ffffff;
  font-size: 36px;
  font-family: "Yeseva One", sans-serif;
  padding-top: 73px;
}
.reviews .review .review-description {
  color: #ffffff;
  font-size: 25px;
  font-family: "Gentium Book Basic", sans-serif;
  margin-top: 20px;
}
.reviews .review .review-author {
  color: #ffffff;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-top: 36px;
}

.reservations {
  background-image: url("../images/white-background-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 710px;
  padding-top: 100px;
}
.reservations .reservationImage {
  width: 100%;
}
.reservations .reservationForm {
  text-align: center;
}
.reservations .reservationForm .reservationHeading {
  font-family: "Yeseva One", sans-serif;
  font-size: 36px;
  color: #cc9900;
  margin-bottom: 15px;
}
.reservations .reservationForm .reservationBody {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
  margin-top: 28px;
}
.reservations .reservationForm .reserveForm {
  text-align: left;
  display: flex;
  flex-flow: row wrap;
  margin-top: 39px;
  justify-content: center;
}
.reservations .reservationForm .reserveForm label {
  font-size: 14px;
  color: #c9a131;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.reservations .reservationForm .reserveForm .input {
  width: 198px;
  height: 34px;
  margin-right: 30px;
  border: solid #c8c6c6 1px;
  border-radius: 0;
  box-shadow: none;
}
.reservations .reservationForm .reserveForm .input:focus {
  border: solid #c89f2d 1px;
}
.reservations .reservationForm .reserveForm .reserveBtn {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #c9a131;
  padding: 8px 63px;
  border-radius: 0;
  margin-top: 18px;
  transition: all 0.4s ease-in-out;
}
.reservations .reservationForm .reserveForm .reserveBtn:hover {
  background-color: #7F9C3E;
}

.site-footer {
  width: 100%;
  height: 320px;
  background-color: #191919;
}
.site-footer .footerSection {
  text-align: center;
}
.site-footer .footerSection .footerHeading {
  font-family: "Yeseva One", sans-serif;
  font-size: 21px;
  font-weight: 400;
  color: #fefefe;
  margin-top: 58px;
  margin-bottom: 17px;
}
.site-footer .footerSection .footerDivider {
  margin-bottom: 20px;
}
.site-footer .footerSection .footerBody {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
}
.site-footer .footerSection .footerBoldText {
  font-weight: 700;
}

/*# sourceMappingURL=styles.css.map */
