@import 'mixins';

/* Header */
.fixedHeader {
    background-color:#c9a131;
}

.site-header {
    position: fixed;
    z-index: 2;
    width: 100%;
    transition:all ease-in-out 0.4s;

    .site-name {
        color:#ffffff;
        font-family:'Yeseva One', sans-serif;
        font-size:36.03px;
        margin-top: 46px;
    }

    .main-menu {
        .menu-item {
            margin-left: 51px;

            &:nth-child(1) {
                margin-left:0;
            }

            a {
                color:#ffffff;
                font-family:'Gentium Book Basic', sans-serif;
                font-size:21px;
                font-weight:700;
                padding-top:43px;
                transition:all 0.2s ease-out;

                &:hover {
                    text-decoration:none;
                    border-top:solid #ffffff 3px;
                }
            }
        }
    }
}

.mobile-header {
    background-color:#c9a131;
    display:none;
    position:fixed;
    width:100%;
    z-index:2;
    height:68px;

    .site-name {
        color:#ffffff;
        font-family:'Yeseva One', sans-serif;
        font-size:36.03px;
        line-height:68px;
        margin:0 0;
    }

    .mobile-header-slider-icon, .mobile-header-close {
        height:64px;
        cursor:pointer;
        transition:all 0.4s ease-in-out;
    }

    .mobile-navbar {
        background-color:#c9a131;
        position:fixed;
        height:100%;
        width:35%;
        top:68px;
        border-top:solid black 1px;
        text-align:center;

        .main-menu {
            list-style-type: none;
            margin:0;
            margin:30px 0;
            padding:0;
        
            .menu-item {
                padding: 20px;
                transition:all 0.4s ease-in-out;

                &:hover {
                    background-color:#ffffff;

                    a {
                        color:#c9a131
                    }
                }

                a {
                    color:#ffffff;
                    font-family:'Gentium Book Basic', sans-serif;
                    font-size:21px;
                    font-weight:700;
                    padding-top:25px;
                    transition:all 0.2s ease-out;
                }
            }
        }
    }
}

/* Site Container */
.site-content {
    z-index:1;
    position: relative;
}

/* Promo Section */
.promo {
    @include backgroundImage('../images/promo-background.jpg', 750px);
    padding-top:203px;

    .heading {
        color:#ffffff;
        font-family:'Yeseva One', sans-serif;
        font-size:90px;
        text-align:center;
        margin-bottom:34px;
    }

    .divider {
        @include centerInlineElement;
    }

    .promo-buttons {
        text-align:center;
        margin-top:51px;

        .bookbtn, .menubtn {
            color:#ffffff;
            font-family:'Lato', sans-serif;
            font-size:18px;
            text-transform:uppercase;
            padding:17px 50px;
            transition:all 0.4s ease-in-out;
        }

        .bookbtn {
            border:solid #1a1708 1px;
            background-color:rgba(29, 24, 16, 0.7);
            margin-right:26px;

            &:hover {
                text-decoration:none;
                border: solid #d6d1bc 1px;
            }
        }

        .menubtn {
            border:solid #d6d1bc 1px;
            background-color:rgba(255, 255, 255, 0.2);

            &:hover {
                text-decoration:none;
                border:solid #1a1708 1px;
            }
        }
    }
}

/* About Section */
.about {
    @include backgroundImage('../images/white-background-1.jpg', 710px);

    .heading {
        color:#cc9900;
        font-family:'Yeseva One', sans-serif;
        font-size:36px;
        text-align:center;
        margin-top:102px;
        margin-bottom:15px;
    }

    .about-divider {
        @include centerInlineElement;
    }

    .about-text {
        color:#5d5d5d;
        font-size:16px;
        font-family:'Lato', sans-serif;
        text-align:center;
        margin-top:33px;
        margin-bottom:50px;
    }

    .about-cook {
        @include centerInlineElement;
    }

    .about-dish {
        margin-top:57px;
    }
}

/* Ingredients Section */
.ingredients {
    @include backgroundImage('../images/ingredients-background.jpg', 758px);
    padding-top:100px;

    .container {
        display:flex;
        flex-flow:row-reverse wrap;
    }

    .ingredients-section {
        height:557px;
        width:550px;
        background-color:rgba(0, 0, 0, 0.6);
        text-align:center;

        .ingredients-text {
            .heading {
                color:#ffffff;
                font-size:36px;
                font-family:'Yeseva One', sans-serif;
                padding-top:72px;
            }

            .text {
                color:#ffffff;
                font-size:16px;
                font-family:'Lato', sans-serif;
                margin-top: 26px;
                padding:0 86px;
                text-align:justify;
            }
        }

        .ingredients-images {
            margin-top:69px;

            .ingredient-image {
                margin-right:27px;
            }
        }
    }
}

/* Menu Section */
.menu {
    @include backgroundImage('../images/white-background-2.jpg', 100%);
    padding-top:82px;
    padding-bottom:83px;

    .menu-classification {
        color:#cc9900;
        font-size:36px;
        font-family:'Yeseva One', sans-serif;
        text-align:center;
    }

    .menu-divider {
        @include centerInlineElement();
        padding-top:5px;
    }

    .menu-name-and-price {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .menu-name, .menu-price {
        color:#cc9900;
        font-size:21px;
        font-family:'Yeseva One', sans-serif;
        margin-top:25px;
        margin-bottom: 5px;
    }

    .menu-border {
        background-color:#cccc99;
        height:1px;
        width:100%;
    }

    .menu-description {
        color:#333333;
        font-size:16px;
        font-family:'Lato', sans-serif;
        margin-top:10px;
    }
}

/* Reviews */
.reviews {
    @include backgroundImage('../images/reviews-background.jpg', 758px);
    padding-top:100px;
    padding-bottom:101px;

    .review {
        background-color:rgba(0, 0, 0, 0.6);
        height:557px;
        text-align:center;
        padding:0 150px;

        .heading {
            color:#ffffff;
            font-size:36px;
            font-family:'Yeseva One', sans-serif;
            padding-top:73px;
        }

        .review-description {
            color:#ffffff;
            font-size:25px;
            font-family:'Gentium Book Basic', sans-serif;
            margin-top: 20px;
        }

        .review-author {
            color:#ffffff;
            font-size:18px;
            font-family:'Lato', sans-serif;
            margin-top: 36px;
        }
    }

}

.reservations {
    @include backgroundImage('../images/white-background-1.jpg', 710px);
    padding-top:100px;

    .reservationImage {
        width:100%;
    }

    .reservationForm {
        text-align:center; 

        .reservationHeading {
            font-family:'Yeseva One', sans-serif;
            font-size:36px;
            color:#cc9900;
            margin-bottom:15px;
        }

        .reservationBody {
            font-family:'Lato', sans-serif;
            font-size:16px;
            color:#4c4c4c;
            margin-top:28px;
        }

        .reserveForm {
            text-align:left;
            display:flex;
            flex-flow:row wrap;
            margin-top:39px;
            justify-content: center;

            label {
                font-size:14px;
                color:#c9a131;
                font-weight:700;
                font-family:'Open Sans', sans-serif;
            }


            .input {
                width:198px;
                height:34px;
                margin-right:30px;
                border:solid #c8c6c6 1px;
                border-radius:0;
                box-shadow:none;
            }

            .input:focus {
                border:solid #c89f2d 1px;
            }

            .reserveBtn {
                @include centerInlineElement();
                font-size:16px;
                font-family:'Open Sans',sans-serif;
                font-weight:400;
                color:#ffffff;
                background-color:#c9a131;
                padding:8px 63px;
                border-radius:0;
                margin-top:18px;
                transition:all 0.4s ease-in-out;
            }

            .reserveBtn:hover {
                background-color:#7F9C3E;
            }
        }
    }
}

.site-footer {
    width:100%;
    height:320px;
    background-color:#191919;

    .footerSection {
        text-align:center;

        .footerHeading {
            font-family: 'Yeseva One',sans-serif;
            font-size:21px;
            font-weight:400;
            color:#fefefe;
            margin-top:58px;
            margin-bottom:17px;
        }

        .footerDivider {
            margin-bottom:20px;
        }

        .footerBody {
            font-family:'Open Sans',sans-serif;
            font-size:16px;
            font-weight:400;
            color:#ffffff;
        }

        .footerBoldText {
            font-weight:700;
        }
    }
}

